body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 252, 238);
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
}
.text{
    width: 60%; 
    height: 40px;

    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
}
.text:nth-of-type(2){
    margin: 30px 0;
}
.text:nth-of-type(4){
    margin: 30px 0;
}
.submit{
    width: 61%;
    height: 40px;
    border: 1px solid limegreen;
    color: #fff;
    background-color: limegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
}
.p{
    width: 61%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: lightskyblue;
    cursor: pointer;
}
.text:focus{
    outline: none;
}
.signUp{
    display: none;
}

.blue{
    background-color: blue;
}
.info{
    display: none;
    background-color: #fff;
    height: 600px;
    width: 30%;
    border: 1px solid grey;
}
i{
    font-size: 100px;
}
.flex{
    display: flex;
}
.leave{
    width: 40%;
    height: 40px;
    color: #fff;
    background-color: limegreen;
    border: 1px solid limegreen;
    border-radius: 5px;
}